body {
    background-color:lightblue;
  }
h1 {
  color: red;
  text-align: center;
  text-decoration: underline;
  font-family: sans-serif;;
  font-size: 36px;
}
h2 {
  color: red;

}

h3 {
  color: red


}
p.intro {
        width: 50%;
        font-style: italic;
      }
p.em {
  font-style: italic;
}
